* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    font-family: sans-serif;
    /* font-family: VAGRoundedLTCom-Bold; (to do)*/
}

:root {
    --main-bg-color: rgb(117, 225, 117);
}

body {
    background-color: var(--main-bg-color);
    margin: auto;
    width: 90%;
}

.header {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: space-around;
    align-items: center;
    height: 50px;   
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
        margin-left: 5px;
        cursor: pointer;
        font-size: 14px;
        padding: 10px 5px;
        /* border: 1px solid rgb(196, 195, 195); */
        border-radius: 5px;
        width: 110px;
        text-align: center;
        background-color: #D1D1D1;
    }

    li:hover {
        background-color: #A7A7A7;
    }
}

.banner{
    height: 250px;
    background-color: rgb(206, 237, 206); 
}

.main-section{
    display: flex;
    height: 500px;
    padding: 20px;
}

.main-section-treatment{
    background-color:rgb(206, 237, 206);
    width: 30%;
    border: 1px solid black; 
}    

.main-section-content{
    display: block;
    width: 70%;  
}

.form{
    background-color: rgb(206, 237, 206);
    height: 30%;
    border: 1px solid black;
}

.presentation{
    background-color: rgb(206, 237, 206);
    height: 70%;
    border: 1px solid black;
}

.footer{
    background-color: rgb(179, 247, 224);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        margin-left: 10px;
        cursor: pointer;
        padding: 0px;
        list-style-type: none;
    }
 
}