* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;

}

body {
    background-color: rgb(117, 225, 117);
    margin: auto;
    width: 90%;
}

.header {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: space-around;
    align-items: center;
    height: 50px;
    
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li {
        margin-left: 1px;
        cursor: pointer;
        border-style: solid;
        border-left: 3px solid rgb(227, 224, 224);
        border-bottom: 3px solid rgb(227, 224, 224);
    }
}

.banner{
    height: 250px;
    background-color: bisque; 
}

.main-section{
    display: flex;
    height: 500px;
    padding: 20px;
}

.main-section-treatment{
    background-color:rgb(206, 237, 206);
    width: 30%;
    border: 1px solid black; 
}    

.main-section-content{
    display: block;
    width: 70%;  
}

.form{
    background-color: rgb(206, 237, 206);
    height: 30%;
    border: 1px solid black;
}

.presentation{
    background-color: rgb(206, 237, 206);
    height: 70%;
    border: 1px solid black;
}

.footer{
    background-color: rgb(179, 247, 224);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    div {
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        margin-left: 10px;
        cursor: pointer;
        padding: 0px;
        list-style-type: none;
    }
 
}